/* GLOBAL CSS VARIABLES */
:root {
    --background-blue: #382F87;
    --lighter-blue: #5e71d4;
    --background-green: #02c0b7;
    --gray-text: #7E8085;
    --dark-text: #2C2E30;
    --background-gray: #f6f8f9;
    --light-gray: #E7EAEE;
    --med-gray: #c9cdd5;
    --dark-gray: #51545e;

    --max-width: 1146px;
    --med-width: 540px;
    --med-space: 30px;
    --box-shadow: 0 2px 9px 0 rgba(0,0,0,0.14);
    --box-shadow-close: 0 2px 4px 0 rgba(44,46,48,0.07);
}

/* /GLOBAL CSS VARIABLES */
/* GLOBAL HTML TYPOGRAPHY OVERRIDES */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

img {
}

/* /GLOBAL HTML TYPOGRAPHY OVERRIDES */
/* GLOBAL LAYOUT */
.section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* /GLOBAL LAYOUT */
/* TYPOGRAPHY */
.section-header {
    font-size: 16px;
    color: var(--gray-text);
    font-weight: bold;
    text-transform: uppercase;
}

.section-subheader {
    font-size: 34px;
    line-height: 1.35;
    color: var(--dark-text);
    font-weight: bold;
}
@media screen and (max-width: 700px) {
    .section-subheader {
        font-size: 24px;
    }
}

.subsection-header {
    font-size: 24px;
    font-weight: bold;
    color: var(--background-blue);
}

.body-text {
    font-size: 16px;
    line-height: 1.75;
    font-weight: normal;
    color: var(--gray-text);
}

.body-text {
    font-weight: bold;
}

.body-text--large {
    font-size: 18px;
    font-weight: bold;
}

.body-text--small {
    font-size: 14px;
}

.bullet-item {
    padding-left: 20px;
    position: relative;
    list-style: none;
}
.bullet-item:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.6em;
    width: 11px;
    height: 11px;
    background: var(--med-gray);
    border-radius: 100%;
}

/* /TYPOGRAPHY */
/* LOAD FONTS */
@font-face {
  font-family: 'Lato';
  font-weight: 700 900;
  font-style: normal;
  font-named-instance: 'Bold';
  src: url("fonts/Lato-Bold.ttf") format("woff2");
}
@font-face {
  font-family: 'Lato';
  font-weight: 100 600;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("fonts/Lato-Regular.ttf") format("woff2");
}

/* /LOAD FONTS */

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
    body {
        background-position:
            -200px
        -200px;
    }
}

body * {
    box-sizing: border-box;
}

.home {
    background-image: url('assets/background-shape-home.svg');
    background-position: -200px -80px;
    background-repeat: no-repeat;
}
@media screen and (max-width: 400px) {
    .home {
        background-position: -200px -80px;
    }
}
@media screen and (min-width: 401px) and (max-width: 700px) {
    .home {
        background-position: -200px calc((((-200 - -80) / (700 - 401)) * 100vw) + -80px - (((-200 - -80) / (700 - 401)) * 401px));
    }
}
@media screen and (min-width: 701px) {
    .home {
        background-position: -200px -200px;
    }
}

.product {
    background-image: url('assets/background-shape-product.svg');
    background-repeat: no-repeat;
}
@media screen and (max-width: 400px) {
    .product {
        background-position: right -200px top -80px;
    }
}
@media screen and (min-width: 401px) and (max-width: 700px) {
    .product {
        background-position: right -200px
        top calc((((-200 - -80) / (700 - 401)) * 100vw) + -80px - (((-200 - -80) / (700 - 401)) * 401px));
    }
}
@media screen and (min-width: 701px) {
    .product {
        background-position: right -200px top -200px;
    }
}

/* SITE HEADER */
.site-header {
}

/* SITE NAV */
.site-nav {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--med-space);
}
@media screen and (max-width: 700px) {
    .site-nav {
        flex-direction: column;
    }
}

.site-title {
    font-size: 26px;
    font-weight: bolder;
}

.site-title__link {
    color: #fff;
    text-decoration: none;
    outline: none;
}

.site-nav__items {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 700px) {
    .site-nav__items {
        margin-top: var(--med-space);
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .site-nav__item--demo {
        margin-left: auto
    }
}

.site-nav__link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-right: 40px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    font-size: 18px;
}
@media screen and (max-width: 700px) {
    .site-nav__link {
        font-size: 14px;
    }
}

.site-nav__link--active {
    border-color: #fff;
}

.site-nav__link--demo {
    display: flex;
    align-items: center;
    height: 46px;
    padding: 0 21px;
    margin-left: 20px;
    margin-right: 0;
    border-radius: 5px;
    color: var(--background-blue); 
    background: #fff;
}
@media screen and (max-width: 700px) {
    .site-nav__link--demo {
        margin-left: 0;
    }
} 

.site-nav__link--product {
    color: var(--background-green);
}

/* /SITE NAV */
/* SITE HERO */
.section--hero {
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin: 80px 0;
    width: 100%;
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
    .section--hero {
        margin: calc((((160 - 80) / (1200 - 901)) * 100vw) + 80px - (((160 - 80) / (1200 - 901)) * 901px)) 0;
    }
}
@media screen and (min-width: 1200px) {
    .section--hero {
        margin: 160px 0;
    }
}
.section--product {
    margin-top: 80px;
    margin-bottom: 300px;
}

.hero__intro {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--med-space);
}
.hero__intro--product {
    align-items: flex-end;
}

.intro__heading {
    font-size: 48px;
    color: #fff;
    margin-bottom: 32px;
}
.intro__heading--product {
    max-width: 505px;
}
@media screen and (max-width: 700px) {
    .intro__heading {
        font-size: 40px;
    }
}

.intro__body {
    max-width: 28em;
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 1.8;
    color: #8598FF;
}
.intro__body--product {
    max-width: 505px;
    color: #fff;
}
@media screen and (max-width: 700px) {
    .intro__body {
        font-size: 16px;
    }
}

.intro__email-field {
    width: 100%;
    max-width: 480px;
}
.intro__email-field--product {
    max-width: 505px;
}

.email-field {
    display: flex;
    width: 100%;
    font-size: 18px;
}

.email-field__input,
.email-field__button {
    height: 68px;
    padding: 0 26px;
    font-size: 18px;
    font-family: inherit;
    font-weight: bold;
}

.email-field__input {
    flex-grow: 1;
    width: 100%;
    border: none;
    border-radius: 5px 0 0 5px;
}

.email-field__button {
    flex-shrink: 0;
    border: none;
    border-radius: 0 5px 5px 0;
    background: var(--lighter-blue);
    color: #fff;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
}

.email-field__button:hover {
    opacity: 0.8;
}

.email-field-details {
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bolder;
    color: #fff;
}

@media screen and (max-width: 700px) {
    .email-field__input,
    .email-field__button {
        height: 48px;
        padding: 0 20px;
        font-size: 16px;
        font-family: inherit;
        font-weight: bold;
    }

    .email-field__input {
        width: 50%;
    }
}

.site-hero__image {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 100%;
    height: 690px;
    background-image: url('assets/hero-illustration.png');
}
.site-hero__image--product {
    background-image: none;
}
@media screen and (max-width: 900px) {
    .site-hero__image {
        visibility: hidden;
    }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
    .site-hero__image {
        transform: translateY(-20px);
        background-size: calc((((740 - 480) / (1200 - 901)) * 100vw) + 480px - (((740 - 480) / (1200 - 901)) * 901px));
        background-position: top right -120px;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width: 1200px) {
    .site-hero__image {
        transform: translateY(-20px);
        background-size: 740px;
        background-position: top right -120px;
        background-repeat: no-repeat;
    }
}

/* /SITE HERO */
/* /SITE HEADER */
/* HOMEPAGE SECTIONS */
/* SECTION: why */
.section--why {
    margin-top: 300px;
    padding: 0 var(--med-space);
}

.why-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 var(--med-space);
}

.why-header__subheader {
    max-width: 18em;
    margin-top: 20px;
}

.why-body {
    max-width: var(--max-width);
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: var(--med-space);
    border-bottom: 1px solid var(--light-gray);
}
@media screen and (max-width: 900px) {
    .why-body {
        max-width: var(--med-width);
        grid-template-columns: 1fr;
        grid-row-gap: 60px;
    }
}

.why-column__header {
    margin-bottom: var(--med-space);
    display: flex;
    align-items: center;
    min-height: 34px;
}

.why-column__header-icon {
    margin-right: 20px;
}

/* /SECTION: why */
/* SECTION: build */
.build-columns {
    max-width: var(--max-width);
    padding: 80px var(--med-space);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--med-space);
}
@media screen and (max-width: 900px) {
    .build-columns {
        display: flex;
    }
}

.build-illustration {
    display: flex;
    align-items: center;
}
.build-illustration-inline {
    display: none;
    max-width: 300px;
    margin: var(--med-space) 0 60px;
}
@media screen and (max-width: 900px) {
    .build-illustration {
        display: none;
    }
    .build-illustration-inline {
        display: flex;
    }
}

.build-illustration img,
.build-illustration-inline img {
    max-width: 439px;
    width: 100%;
}

.build-content {
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 900px) {
    .build-content {
        align-items: center;
    }
}

.build-content__header {
    margin-bottom: var(--med-space);
}
@media screen and (max-width: 900px) {
    .build-content__header {
        text-align: center;
    }
}

.build-content__items {
    border-bottom: 1px solid var(--light-gray);
    margin-bottom: var(--med-space);
}
@media screen and (max-width: 900px) {
    .build-content__items {
        max-width: var(--med-width);
    }
}

.build-content__item {
    margin-bottom: var(--med-space);
}

.build-content__testimonial {
    color: var(--dark-text);
    margin-bottom: 1em;
    max-width: var(--med-width);
    width: 100%;
}

.build-content__testimonial--name {
    text-align: right;
}

/* /SECTION: build */
/* SECTION: easy */
.section--easy {
    position: relative;
    width: 100%;
    padding: 0 var(--med-space);
    background: var(--background-gray);
}

.easy-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 75%;
    border-bottom: 8px solid #fff; 
    background-image: linear-gradient(-180deg, #382F87 0%, #76E2FF 100%);
}

.easy-header {
    padding: 120px 0 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.easy-header__heading,
.easy-header__subheading {
    color: #fff;
}

.easy-header__subheading {
    max-width: 18em;
    margin-top: 20px;
    text-align: center;
}

.easy-body {
    max-width: 852px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--med-space);
}
@media screen and (max-width: 700px) {
    .easy-body {
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }
}

.easy-body__card {
    padding: 0 var(--med-space) 80px;
    background: #fff;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    text-align: center;
}
@media screen and (max-width: 700px) {
    .easy-body__card {
        max-width: var(--med-width);
    }
}

.easy-body__icon {
    margin: 66px 0;
    display: flex;
    justify-content: center;
}

.easy-body__icon img {
    width: 100%;
    max-width: 108px;
}

.easy-body__heading {
    margin-bottom: var(--med-space);
    color: var(--dark-text);
}

.easy-body__paragraph {
    font-weight: bold;
    /* color: var(--dark-text); */
}

/* /SECTION: easy */
/* SECTION: testimonial */
.section--testimonial {
    background: var(--background-gray);
    padding: 180px var(--med-space); 
}

.testimonial-header {
    margin-bottom: 108px;
    text-align: center;
}

.testimonial-header__subheading {
    margin-top: 20px;
}

.testimonial-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 17px;
    max-width: var(--max-width);
}
@media screen and (max-width: 900px) {
    .testimonial-body {
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
        max-width: var(--med-width);
    }
}

.testimonial-body__card {
    background: #fff;
    border-radius: 5px;
    border: 1px solid var(--light-gray);
    box-shadow: var(--box-shadow-close);
    padding: 0px 25px var(--med-space);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-body__paragraph {
    margin: 50px 0;
}

.testimonial-body__attribution {
    display: flex;
    align-items: center;
}

.testimonial-body__name {
    color: var(--dark-text);
}

.testimonial-body__avatar {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
}

.testimonial-body__avatar img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-width: 100%;
    height: auto;
    object-fit: cover;
}

.testimonial-logos {
    width: 100%;
    max-width: 569px;
    margin: 100px auto 0;
    padding: 0 var(--med-space);
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 540px) {
    .testimonial-logos {
        flex-direction: column;
        align-items: center;
        min-height: 320px;
        margin-top: 80px;
    }
}

.testimonial-logos img {
    flex-shrink: 0;
    height: auto;
    object-fit: contain;
}

/* /SECTION: testimonial */
/* SECTION: try */
.section--try {
    padding: 180px var(--med-space);
    background-image: linear-gradient(-180deg, #75E1FE 0%, #00C1B6 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.try-header {
    text-align: center;
    margin-bottom: 60px; 
}

.try-header__heading,
.try-header__subheading {
    color: #fff;
}

.try-header__subheading {
    margin-top: 20px;
}

.try-email-field {
    width: 100%;
    max-width: var(--med-width);
}

/* /SECTION: try */

/* /HOMEPAGE SECTIONS */
/* SITE FOOTER */
.site-footer {
    width: 100%;
    min-height: 74px;
    background: var(--background-gray);
    display: flex;
    justify-content: center;
    color: var(--dark-gray);
}

.site-footer__interior {
    width: 100%;
    max-width: var(--max-width);
    padding: 20px var(--med-space);
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 700px) {
    .site-footer__interior {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .site-footer__left {
        width: 100%;
        margin-bottom: 20px;
    }
}

.site-footer__items {
    display: flex;
}
@media screen and (max-width: 700px) {
    .site-footer__items {
        width: 100%;
        justify-content: space-between;
    }
}

.site-footer__item {
    margin-right: 40px;
}
.site-footer__items li:last-child {
    margin-right: 0;
}

.site-footer__link {
    color: var(--dark-gray);
    text-decoration: none;
}

.site-footer__right {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 700px) {
    .site-footer__right {
        width: 100%;
        justify-content: space-between;
    }
}

.site-footer__language {
    margin-right: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.site-footer__flag {
    margin-right: 12px;
}

.site-footer__language-label {
    color: var(--dark-gray);
}

.site-footer__language-caret {
    margin-left: 12px;
}

.caret-icon {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid var(--dark-gray);
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

.site-footer__social-items {
    display: flex;
}

.site-footer__social-item {
    margin-left: 12px;
}

.site-footer__social-link {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-footer__social-link img {
}
/* /SITE FOOTER */
